[run]
source = umaapy
omit =
    src/umaapy/umaa_types.py
    src/umaapy/UMAA/*
    */umaapy/UMAA/*
    *\umaapy\UMAA\*

branch = True

[report]
omit =
    src/umaapy/umaa_types.py
    src/umaapy/UMAA/*
    */umaapy/UMAA/*
    *\umaapy\UMAA\*

[paths]
source =
    src/umaapy
    /usr/local/lib/python3.13/site-packages/umaapy

[xml]
output = coverage.xml
relative = True
